#dashboard-horizontal-nav {
  z-index: 1000;

  top: 0;
  position: fixed;
  background-color: #fafbfb;
  width: 100%;
  height: 60px;
}

#dashboard-main {
  transform: translateY(60px);
  width: calc(100% - 200px);
  height: 100vh;
  /*background-color: black;*/
  float: left;
}
#dashboard-sidebar {
  /*z-index: 2000;*/
  float: right;
  background-color: #410464;
  position: fixed;
  right: 0;
  top: 60px;
  /*padding-top: 20px;*/
  height: calc(100vh - 60px);
  width: 200px;
  border-left: 1px solid #96b2ee;
  box-shadow: -5px 0 10px #96b2ee;
}
.dashboard-ul {
  background-color: #b0bec5;
}
.dashboard-li {
  font-family: "Lato", sans-serif;
  padding-top: 30px;
  text-align: center;
  list-style: none;
  box-shadow: 0 3px 2px #b0bec5;
}

.dashboard-li-img-overlay:hover {
  opacity: 1;
}
.li-title {
  display: inline-block;
  padding-top: 8px;
}
#dashboard-horizontal-ul {
  color: #fff;
  background: #022e29 !important;
  border-bottom: 1px solid rgba(32, 12, 59, 0.7);
  /*box-shadow: 5px 3px 3px #96b2ee;*/
  /*background:rgba(0, 0, 0, 0.6);*/
  padding: 6px 32px;
}
.dashboard-horizontal-li {
  font-style: "Lato", sans-serif;
  font-weight: 400;
  padding-right: 16px;
  font-size: 18px;
  list-style: none;
  display: inline-block;
}
